/* GERAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 800;
}

body {
    background-color: #131313;
    color: #fff;
    overflow: visible;
}

.title h1 {
    font-size: 40px;
    color: #12c809;
    font-variant: small-caps;
    padding-top: 20px;
    
}


/* CABEÇALHO */

.container {
    background-color: #131313;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 0;
    transition: .8s;
    width: 100%;
}

.container:hover {
    background-color: #0e0e0e;
 }


 .mobile-menu-icon {

    display: none;
}

.mobile-menu {

    display: none;

}



 .menu {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    /* menu. nav/link */
 }

 .menu a {
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    text-shadow: 1px 1px#37cbfc;
    transition: .5s;
 }

 .menu a:hover {
    box-shadow: 6px 6px 6px 6px #4e4eee;
    color: #000000;

 }

 .downloads {
    background-color: #4e4eee;
    transition: .5s;
 }

 .downloads:hover {
    transform: scale(1.2);
 }

 ul {
    list-style-type: none;
    text-decoration: none;
}


.menu li{
   float: left;
   padding: 0 54px;
}

/* Box Menu Responsivo */

.box-menu {
    display: none;
}

/* Espaçamento de todas os blocos sections */
.content {
    padding-left: 200px;
    padding-top: 200px;
}


/* SOBRE MIM */

.bloco1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 28px;
    line-height: 1.5em;
    padding-top: 30px;
}

.bloco1 p::first-letter {
    content: '';
    font-size: 35px;
}

.bloco1 div:nth-child(2) {
    width: 750px;
}


/* FORMAÇÃO */

.bloco2 {
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding-top: 50px;
}

.bloco2 p {
    font-size: 23px;
}

.bloco2 h2 {
    font-size: 26px;
}

.bloco2 p, h2{
    line-height: 3rem;

}

.bloco2 img {
    width: 60%;
}

/* MEUS PROJETOS */

#meus_projetos {
    padding-left: 120px;
    padding-top: 200px;

}

#meus_projetos h1 {
    padding-left: 80px;

}

#meus_projetos .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 50px;


}

.boxes div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    transition: .5s;

}

.boxes img {
    width: 350px;
    height: 300px;
    transition: .2s;
}

.boxes img:hover {
    opacity: .2;
    transform: scale(1.05);
}


.boxes button {
    background-color: #1ccc1c;
    width: fit-content;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: large;
}

#descricao, #descricao2,
#descricao3, #descricao4 {
    margin: 20px;
    width: 300px;
    text-align: center;
}

#descricao, #descricao2,
#descricao3, #descricao4 a {
    text-decoration: none;
}

.model {
    text-decoration:none;
    color: #1ccc1c;
    padding: 3px;
    margin-top: 10px;
    font-weight: 800;
}

/* CONTATO */

.bloco3 {
    display: flex;
    gap: 20px;
    padding: 50px;
}

.bloco3 div {
    width: 600px;
}
.bloco3 div:nth-child(2) {
    padding-top: 150px;
}

.bloco3 #logo_contato {
    width: 400px
}


.bloco3 #redes {
    width: 70px;
    border-radius: 50%;
    float: inline-start;
    margin: 10px;
    transition: .3s;
}

.bloco3 #redes:hover {

    transform: scaleY(1.5);


}
.bloco3 h3 {
    font-size: 30px;
    line-height: 2em;
}

span {
    color: rgb(3, 226, 3);
}




/*------------------ RESPONSIVIDADE------------------------ */

@media screen and (max-width: 720px) {


    .container {
        background-color: #050505;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 0;
        transition: .8s;
        width: 100%;
    }

    h1 {
        font-size: 36px;
        color: #4e4eee;
        font-variant: small-caps;
    }

    .mobile-menu-icon {
        display: block;
        padding-top: 20px
    ;
   }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    }

    .box-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.718);

    }

    .box-menu a {
        padding-bottom: 1rem;
        text-decoration: none;
        font-size: 29px;
        color: #fff;
        text-shadow: 1px 1px#37cbfc;
        transition: .5s;
        padding: 10px;
        line-height: 1.6em;
    }

    .box-menu a:hover {
        background-color: #2d2d9441;
        border-radius: 5px;
    }


    .login-button a{

        background-color: #048ab6;
        padding-top: 10px;

    }

    .login-button a:hover{

        background-color: #fff;
        color: #048ab6;

    }
    .open {
                
        display: block;
    }

    .menu {
        display: none;
    }

    .box-menu {

        width: fit-content;
        height: fit-content;
        position: fixed;
        top: 70px;
    }
/* SOBRE MIM */

.content {
    padding-left: 30px;
    padding-top: 100px;
}

.bloco1 {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    line-height: 1.5em;
    padding-top: 30px;
}

.bloco1 img {
    width: 90%;
}

.bloco1 p::first-letter {
    content: '';
    font-size: 35px;
}

.bloco1 div:nth-child(2) {
    width: 350px;
}

/* FORMAÇÃO */

.bloco2 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.bloco2 img {
    width: 80%;
    margin: auto;
}

/* Meus Projetos */
#meus_projetos {
    padding-left: 0px;
    padding-top: 200px;

}

/* CONTATO */

.bloco3 {
    display: inline;
    padding: 20px;
}

.bloco3 div {
    width: 300px;
}
.bloco3 div:nth-child(2) {
    padding-top: 100px;
}

.bloco3 #logo_contato {
    width: 400px
}

.bloco3 #redes {
    width: 60px;
    border-radius: 50%;
    float: inline-start;
    padding: 15px
}
.bloco3 h3 {
    font-size: 30px;
    line-height: 2em;
}

span {
    color: rgb(3, 226, 3);
}

}
